@using SIG.Shared.Enums;
@model SIG.Services.ComputerViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Adicionar novo computador</h2>
<hr />

<div class="row">
    <div class="col-md-12" >

        <form asp-area="Maintenance" asp-controller="Computers" asp-action="Create" class="row g-2">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group col-md-6">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="Processor" class="control-label"></label>
                <input asp-for="Processor" class="form-control" />
                <span asp-validation-for="Processor" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="MemoryType" class="control-label"></label>
                <select asp-for="MemoryType" class="form-select" asp-items="Html.GetEnumSelectList<EMemoryType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
               
                <span asp-validation-for="MemoryType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="DiskType" class="control-label"></label>
                <select asp-for="DiskType" class="form-select" asp-items="Html.GetEnumSelectList<EDiskType>()">
                    <option selected="selected" value="">Please select</option>
                </select>
                <span asp-validation-for="DiskType" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="DiskSize" class="control-label"></label>
                <input asp-for="DiskSize" class="form-control" />
                <span asp-validation-for="DiskSize" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="MemorySize" class="control-label"></label>
                <input asp-for="MemorySize" class="form-control" />
                <span asp-validation-for="MemorySize" class="text-danger"></span>
            </div>
            <div class="form-group col-md-2">
                <label asp-for="BrandId" class="control-label"></label>
                <select asp-for="BrandId" asp-items="ViewBag.BrandId" class="form-select"></select>
                <span asp-validation-for="BrandId" class="text-danger"></span>
            </div>

            <div class="form-group col-md-2">
                <label asp-for="TypeId" class="control-label"></label>
                <select asp-for="TypeId" asp-items="ViewBag.TypeId" class="form-select"></select>
                <span asp-validation-for="TypeId" class="text-danger"></span>
            </div>
           
            <div class="form-group col-md-2">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label asp-for="LocacityId" class="control-label"></label>
                <select asp-for="LocacityId" asp-items="ViewBag.LocacityId" class="form-select"></select>
                <span asp-validation-for="LocacityId" class="text-danger"></span>
            </div>
           
            <div class="form-group col-md-3">
                <label asp-for="AreaId" class="control-label"></label>
                <select asp-for="AreaId" asp-items="ViewBag.AreaId" class="form-select"></select>
                <span asp-validation-for="AreaId" class="text-danger"></span>
            </div>
       
            <div class="form-group col-md-2">
                <label asp-for="SectorId" class="control-label"></label>
                <select asp-for="SectorId" asp-items="ViewBag.SectorId" class="form-select"></select>
                <span asp-validation-for="SectorId" class="text-danger"></span>
            </div>



            <br />
            <hr />

            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
