@using AutoMapper;
@using SIG.Core.Domain.Interfaces;
@using SIG.Services;
@using SIG.Shared.Enums;

@model IEnumerable<SIG.Services.ComputerViewModel>
@{
    ViewData["Title"] = "Index";

  
}

<h2>Cadastro de Computadores</h2>
<hr />
@await Html.PartialAsync("_search",new ComputerViewModel())

<hr />
<table class="table">
    <tr>
        <th> <a asp-area="Maintenance" asp-controller="Computers" asp-action="Create" class="btn btn-success"><i class="fa-solid fa-plus"></i>Adicionar</a></th>

        <th class="justify-content-end d-flex">
            <form class="d-flex" asp-controller="Computers" asp-action="Index">

                @* <input type="text" name="SearchString" class="form-control" style="max-width:400px;" />*@

                <button type="submit" value="" class="form-control" style="background-color: #0082ca;width:50px;margin-left:5px"><i class="fa-solid fa-search"></i></button></>

            </form>
        </th>
    </tr>


</table>
<div id="TESTE">
  
@await Html.PartialAsync("_Grid",Model)
</div>

