@using AutoMapper;
@using SIG.Core.Domain.Interfaces;
@using SIG.Services;
@using SIG.Shared.Enums;

@model IEnumerable<SIG.Services.ComputerViewModel>
@{
    ViewData["Title"] = "Cadastro de Computadores";

  
}

<h2>Cadastro de Computadores</h2>
<hr />

<table class="table table-bordered">
    <tr>
        <th class ="col-md-2"> <a asp-area="Maintenance" asp-controller="Computers" asp-action="Create" class="btn btn-success w-100"><i class="fa-solid fa-plus"></i>Adicionar</a></th>
       
        <th class="col-md-10 ">
            <a class="btn btn-dark" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <i class="fa-solid fa-search"></i>  Busca Avançada
            </a>
        </th>
       
    </tr>


</table>

@await Html.PartialAsync("_search",new ComputerViewModel())
<br />
<div id="TESTE">
  
@await Html.PartialAsync("_Grid",Model)
</div>

